html, body { 
    height: 100%;
    box-sizing: border-box;
}
body {
    font-family: BlinkMacSystemFont, "PingFang SC", "Segoe UI", "Microsoft YaHei", sans-serif;
    margin: 0;
}
.hidden {
    display: none;
}
.title-bar {
    -webkit-app-region: drag;
    height: 40px;
    width: 100%;
}
.title {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    user-select: none;
}
.title, .sending {
    margin-top: 10px;
    color: rgb(160, 160, 160);
    font-weight: 600;
    font-size: 16px;
}
.submit, .sending {
    float: right;
    margin-right: 10px;
}
.submit {
    -webkit-app-region: no-drag;
    color: rgb(106, 175, 253);
    font-size: 15px;
    font-weight: 600;
    user-select: none;
    margin-top: 8px;
    border-radius: 7px;
    padding: 1px 5px;
    border: 1px solid #514F4B;
}
.submit:hover {
    background-color: #3F3F3F;
}
textarea {
    height: 500px;
    color: #E0E0DF;
    font-family: BlinkMacSystemFont, "PingFang SC", "Segoe UI", "Microsoft YaHei", sans-serif;
    font-size: 17px;
    line-height: 1.6em;
    background-color: transparent;
    outline: none;
    border: none;
    resize: none;
    width: 100%;
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 35px;
}
