html, body { 
    height: 100%;
    box-sizing: border-box;
}
body {
    color: rgb(222, 222, 222);
    font-family: BlinkMacSystemFont, HiraginoSansGB-W3, Verdana, "Microsoft YaHei", sans-serif;
    margin: 0;
}
.hidden {
    display: none;
}
.title-bar {
    -webkit-app-region: drag;
    height: 40px;
    width: 100%;
}
.title {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    user-select: none;
}
.title, .sending {
    margin-top: 10px;
    color: rgb(160, 160, 160);
}
.submit, .sending {
    float: right;
    margin-right: 10px;
}
.submit {
    -webkit-app-region: no-drag;
    color: rgb(106, 175, 253);
    user-select: none;
    margin-top: 8px;
    border-radius: 7px;
    padding: 1px 5px;
    border: 1px solid rgb(102, 102, 102);
}
.submit:hover {
    background-color: rgb(102, 102, 102);
}
textarea {
    height: 500px;
    color: rgb(222, 222, 222);
    font-family: BlinkMacSystemFont, HiraginoSansGB-W3, Verdana, "Microsoft YaHei", sans-serif;
    font-size: 17px;
    background-color: transparent;
    outline: none;
    border: none;
    resize: none;
    width: 100%;
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 35px;
}
