body {
    color: rgb(242, 242, 242);
    font-family: BlinkMacSystemFont, HiraginoSansGB-W3, sans-serif;
    overflow-x: hidden;
    margin: 0;
}
.hidden {
    display: none;
}
.darkened {
    filter: brightness(50%);
}
a {
    color: rgb(106, 175, 253);
    text-decoration: none;
    word-break: break-all;
}
.title-bar {
    -webkit-app-region: drag;
    height: 50px;
    width: 100%;
    position: sticky;
    z-index: 99;
    top: 0;
    background-color: rgb(77, 77, 77);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}
.logo {
    -webkit-app-region: no-drag;
    font-size: 27px;
    color: rgb(160, 160, 160);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    transition: color 0.2s, box-shadow 0.2s;
}
.logo:hover {
    color: rgb(220, 80, 60);
    box-shadow: inset 0 0 7px rgba(220, 80, 60, 0.4);
}
.logo i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-47%, -43%);
}
.self-avatar {
    border-radius: 50%;
    border: 1px solid rgb(102, 102, 102);
    height: 36px;
    width: 36px;
    float: right;
    margin-right: 10px;
    margin-top: 6px;
}
#update-notification {
    color: rgb(220, 220, 220);
    font-size: 13px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    display: inline-block;
    position: fixed;
    top: 20px;
    right: 25px;
    border-radius: 2px;
    padding-top: 5px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 1px;
    transition: top 0.5s;
}
.notification-show {
    top: 46px !important;
}
.login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: right;
    max-width: 250px;
}
.captcha {
    width: 100%;
    margin-top: 20px;
}
.login-form input {
    text-align: right;
    border-radius: 4px;
    margin: 8px 0;
    padding: 10px;
    font-size: 16px;
}
.email, .password {
    width: 100%;
    box-sizing: border-box;
}
.captcha-text {
    width: 100px;
}
.login-btn {
    margin-top: 20px;
    font-size: 18px;
    border: none;
    border-radius: 13px;
    background-color: rgb(242, 242, 242);
    color: rgb(77, 77, 77);
    padding: 8px 20px;
    font-weight: bold;
    cursor: pointer;
}
.feed {
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
}
.feed-item {
    margin-bottom: 12px;
}
.avatar {
    border-radius: 50%;
    border: 1px solid rgb(102, 102, 102);
    height: 42px;
    width: 42px;
    position: absolute;
    transform: translate(0, 2px);
}
.name {
    font-weight: 600;
    font-size: 18px;
    margin-left: 50px;
}
.time, .statistics {
    height: 0;
    float: right;
    position: relative;
    right: 5px;
    color: rgb(160, 160, 160);
    font-size: 14px;
}
.time {
    top: -23px;
}
.statistics {
    display: none;
    top: -21px;
    user-select: none;
    cursor: default;
}
.statistics span {
    margin-left: 7px;
}
.statistics i {
    margin-right: 3px;
}
.feed-item:hover > .time {
    display: none;
}
.feed-item:hover > .statistics {
    display: inline-block;
}
.content {
    font-size: 17px;
    line-height: 1.6em;
    margin-top: 5px;
    margin-left: 50px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(102, 102, 102);
}
.images, .video {
    margin-top: 10px;
    width: 100%;
    text-align: center;
}
.img + .img {
    margin-left: 3px;
}
.single-img, .thumbnail {
    max-width: 100%;
    max-height: 250px;
    border-radius: 8px;
}
.double-img {
    width: 49.5%;
    height: 200px;
}
.img-grid {
    margin-bottom: 6px;
    margin-right: 0;
}
.img-grid .img {
    display: inline-block;
    position: relative;
    width: 32.5%;
    height: auto;
    background-position: center center;
    background-size: cover;
}
.img-grid .img:before{
    content: "";
    display: inline-block;
    padding-top: 100%;
}
.img-grid .row {
    line-height: 0;
    text-align: left;
    margin: 0 auto;
    width: 100%;
}
.img-grid .row + .row {
    margin-top: 3px;
}
.video {
    position: relative;
}
.video div {
    font-size: 22px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.6);; 
}
.origin-pin {
    font-size: 15px;
    line-height: 1.5em;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-top: 2px;
    border-left: 2px solid rgb(102, 102, 102);
}
.origin-pin .name {
    display: block;
    margin-left: 0;
    margin-bottom: 5px;
    font-size: 17px;
}

