
.hidden {
    display: none;
}

.title-bar {
    height: 60px;
    -webkit-app-region: drag;
}

.self-avatar {
    border-radius: 50%;
    height: 45px;
    width: 45px;
    float: right;
}

.captcha {

}

.avatar {
    border-radius: 50%;
    height: 30px;
    width: 30px;
}