/* title bar */

.title-bar {
    height: 40px;
}
.title-bar .title {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 10px;
    color: rgb(160, 160, 160);
    font-weight: 600;
    font-size: 16px;
}
.title-bar.inactive .title {
    color: #7A7772;
}

/* ------------------------------------------------------------ */
/* profile */

.container {
    top: 40px;
}
.profile {
    padding: 15px;
    border-bottom: 1px solid #413E39;
}
.profile .author:hover .name i {
    display: inline;
    font-size: 14px;
    margin-left: 6px;
    color: #595959;
}
.profile .content {
    margin-right: 60px;
}
.profile-statistics {
    margin-top: 15px;
    text-align: center;
}
.profile-statistics span {
    display: inline-block;
    margin: 0 20px;
    font-weight: bold;
    font-size: 17px;
}
.profile-statistics span div {
    font-weight: 600;
    font-size: 14px;
    color: rgb(122, 122, 122);
    margin-bottom: 2px;
}
.follow-btn, .follows-me {
    position: absolute;
}
.follows-me {
    font-size: 12px;
    font-weight: bold;
    top: 31px;
    right: 80px;
    border-radius: 10px;
    padding: 1px 5px;
    background-color: rgb(122, 122, 122);
    color: #2C2924;
}
.follow-btn {
    -webkit-app-region: no-drag;
    top: 20px;
    right: 15px;
    color: rgb(106, 175, 253);
    font-size: 15px;
    font-weight: 600;
    user-select: none;
    margin-top: 8px;
    border-radius: 7px;
    padding: 1px 5px;
    border: 1px solid #514F4B;
}
.follow-btn.followed-by-me {
    color: rgb(122, 122, 122);
}
.follow-btn:hover {
    background-color: #3F3F3F;
}

/* ------------------------------------------------------------ */
/* feed */

.pin .content {
    padding-bottom: 11px;
    border-bottom: 1px solid #413E39;
}